<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Watch youtube videos with your friends together. No more counting down from 3!" />
        <meta property="og:description" content="Watch youtube videos with your friends together. No more counting down from 3!" />
        <meta property="og:title" content="videosync.io - Watch youtube videos together!" />
        <meta property="og:url" content="https://videosync.io" />
        <meta property="og:image" content="https://videosync.io/images/preview.png" />
	    <meta property="og:site_name" content="videosync.io">
	    <meta property="og:image:width" content="1200">
	    <meta property="og:image:height" content="630">
        <meta content="article" property="og:type">
       
        <meta content="summary_large_image" name="twitter:card">
       
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/site.webmanifest">
        <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/images/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
        <link rel="stylesheet" href="/css/grid.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>videosync - Watch youtube videos together</title>
    </head>

    <body>
        <div class="hero">
            <div class="inner">
                <img class="videosync-logo" src="/images/videosync-verti.png">
                <button class="create-room">Create</button> 
            </div>
        </div>
    </body>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" type="text/javascript"></script>
    <script src="/js/lobby.js"></script>
    
</html>
