@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lds-eclipse {
  position: relative;
}

.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
  animation: lds-eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 orange;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}

.lds-eclipse {
  margin: 0 auto;
  width: 160px !important;
  height: 160px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body {
  background-color: #19171c;
  margin: 0;
}

.hidden {
  display: none;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.disclaimer {
  width: 600px;
  padding: 20px;
  font-size: 1rem;
  font-style: italic;
  color: rebeccapurple;
}

button {
  cursor: pointer;
}

.button {
  padding: 20px;
  border-radius: 3px;
  border: none;
  color: #fff;
}

header {
  position: relative;
  width: 100%;
  height: 80px;
  background: #111;
}

body > .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 999;
    top: 20px;
    left: 20px;
}

header > .logo {
    float: left;
    height: 80px;
    padding: 10px;
}

header > .search {
  /*position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);*/
  float: left;
  width: 40%;
  margin-left: calc(30% - 217px);/* 217 = logo*/
}

header > .search > .yt-link {
  display: block;
  float: left;
  width: calc(100% - 87px * 2); /*86px * 2 = 2 buttons*/
  min-width: 150px;
  margin-top: 12px;
  padding: 20px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  background: #333;
}

header > .search > .yt-link.error {
  color: red;
  font-weight: bold;
}

header > .search > .play,
header > .search > .add-playlist {
  float: left;
  display: block;
  padding: 0 30px;
  margin-top: 12px;
  height: 56px;
  border: none;
  font-size: 1.625rem;
  color: #ebebeb;
  background: #666;
}

header > .search > .play {
  border-right: 1px solid #333;
}

header > .search > .add-playlist {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hero {
    background-image: url("/images/hero.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.hero .inner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero .inner .text {
    font-family: 'Calligraffitti', cursive;
    font-size: 3.4rem;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    transform: rotateZ(-5deg);
    text-shadow: 0 0 50px #fff;
    margin-bottom: 40px;
}

.hero .inner .text div {
    font-family: inherit;
}

.hero button {
    width: 250px;
    padding: 12px 24px;
    font-size: 1.3rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom-color: rgba(0,0,0,0.4);
    color: #fff;
    box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 4px 2px rgba(0,0,0,0.5);
    white-space: nowrap;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-radius: .3em;
    background-color: #ffad1d;
    background-image: linear-gradient(rgba(255,255,255, .1), rgba(255,255,255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0,0,0,.1));
}

.hero button:hover {
    background-image: linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
}

.hero button::-moz-focus-inner {
   border: 0;
}

.hero .button:active {
    outline: none;
}

.container {
  position: relative;
  padding: 20px;
}

.player {
  position: relative;
  float: left;
  width: 70%;
}

.player:hover .video-controls {
  visibility: visible;
}

#player {
  position: relative;
  width: 100%;
  height: 720px;
  /*border: 1px solid #444;*/
  background-color: #000;
}

.player .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0;
    z-index: 0;
    transition: opacity 750ms;
}

.player .overlay.active {
    opacity: 1;
    z-index: 999;
}

.player .overlay .lds-eclipse {
    display: none;
}

.player .overlay.active .lds-eclipse {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player .overlay .label {
    display: none;
}

.player .overlay.active .label {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    font-size: 1.4rem;
}

.loader {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.3);
  text-align: center;
}

.loader > .svg {
  width: 200px;
}

.loader > .label {
  padding: 10px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.video-controls {
  visibility: hidden;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 5px;
  color: #fff;
  line-height: 50px;
  z-index: 69;
}

.video-controls > .play {
   float: left;
  width: 50px;
  height: 50px;
}

.video-controls > .play button {
  padding: 0;
  display: inline-block;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  background: none;
  border: none;
  color: #fff;
}

.slider-control {
    cursor: pointer;
    padding: 0 10px;
}

.slider-control .inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-control .bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    background: rgba(255,255,255,0.2);
    z-index: 1;
}

.slider-control .fill {
    position: absolute;
    top: 50%;
    width: 40%;
    height: 3px;
    background: #fff;
    transform: translateY(-50%);
}

.slider-control .handle {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 999;
    left: 40%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 4px;
    background: #fff;
}

.slider-control.red .fill,
.slider-control.red .handle {
    background: #f00;
}

.slider-control.orange .fill,
.slider-control.orange .handle {
    background: orange;
}




.video-controls > .volume {
  float: left;
  width: 120px;
  height: 50px;
  line-height: 50px;
}

.video-controls > .time {
  float: left;
  width: 140px;
  font-size: 0.9rem;
  text-align: center;
    text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 4px;
}

.video-controls .progress {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 50px - 120px - 140px);
  height: 50px;
  border-left: 1px solid #222;
}

.chat {
  float: left;
  margin-left: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: calc(30% - 10px);
  height: 720px;
  overflow: hidden;
  box-shadow: 0 0 2px #000;
}

.chat .header {
  position: relative;
  padding: 20px 0;
  text-align: center;
  color: #ebebeb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.625rem;
  overflow: hidden;
  background: linear-gradient(to bottom, #434343 0%,#000000 100%);
}

.chat .header img {
    height: 160px;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1);
    animation: 5s sbx_pulse cubic-bezier(.86,0,.07,1) infinite alternate
}

.chat .header .title,
.chat .header i {
    position: relative;
    z-index: 1;
}

.chat .header .title {
    padding: 10px;
    background: rgba(0,0,0,0.56);
    border-radius: 10px;
}


.chat .header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 1;
}

.chat > .messages {
  border-top: none;
  height: calc(720px - 100px - 72px);
  background: #0f0e11;
  font-family: arial;
  overflow-y: scroll;
}

.chat > .messages > .message {
  display: flex;
  align-items: center;
  color: #ccc;
  min-height: 50px;
  line-height: 30px;
}

.chat > .messages > .message img {
    height: auto;
    margin: 0 5px;
    vertical-align: middle;
}

.chat > .messages > .message.system > .author {
  font-weight: 600;
  color: rgb(117, 227, 97);
}

.chat > .messages > .message.system > .author::before {
    content: "\f544  ";
    font-family: "Font Awesome 5 Free";
    font-size: 1.6rem;
}

.chat > .messages > .message.system > .content {
  font-weight: 400;
}

.chat > .messages > .message:nth-child(even) {
  background: #1f1925;
}

.chat > .messages > .message > .author {
  float: left;
  padding: 10px;
  font-weight: bold;
}

.chat > .messages > .message > .content {
  float: left;
  padding: 10px;
  padding-left: 0;
}

.chat > .chat-box {
  height: 100px;
  position: relative;
  border-top: 1px solid rgba(255,255,255,0.2);
}

.chat > .chat-box > .show-emotes {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.4;
  color: #fff;
}

.chat > .chat-box > .show-emotes:hover {
  transform: scale(0.9);
}

.chat > .chat-box > .emotes {
  position: absolute;
  padding: 10px;
  height: 365px;
  top: -370px;
  left: 0;
  width: 100%;
  background: #111;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.85;
  overflow-y: scroll;
}

.chat > .chat-box > .emotes img {
    margin: 0 5px;
}

.chat > .chat-box > .emotes img:hover {
  cursor: pointer;
}


.chat > .chat-box .content {
  width: 100%;
  height: 100px;
  border: none;
  padding: 10px;
  padding-right: 30px;
  font-size: 1.2rem;
  background: #0f0e11;
  color: #fff;
  resize: none;
}

.online-users {
  padding: 0 20px;
  padding-bottom: 0;
  width: 100%;
  min-height: 50px;
  overflow: hidden;
}

.online-users > .user {
  float: right;
  padding: 10px;
  margin-left: 15px;
  line-height: 20px;
  background: #666;
  border-radius: 5px;
  margin-top: 10px;
}

.online-users > .user > .avatar {
  float: left;
  width: 20px;
  height: 20px;
}

.online-users > .user > .name {
  float: left;
  margin-left: 5px;
  color: #eee;
}

.container.additional-features {
  padding-top: 0;
}

.playlist {
  float: left;
  width: 50%;
}

.playlist > .header,
.history > .header {
  background: #111;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 0;
  text-align: center;
  font-size: 1.625rem;
  color: #ebebeb;
}

.playlist > .body,
.history > .body {
  padding: 20px 0;
  background: #0f0e11;
  overflow-y: scroll;
  height: 400px;
}

.history {
  float: left;
  margin-left: 20px;
  width: calc(50% - 20px);
}

.video {
  padding: 0 20px;
  width: 100%;
  color: #ebebeb;
  font-size: 1.2rem;
}

.video:not(:first-child) {
  margin-top: 20px;
}

.video > .thumb {
  position: relative;
  float: left;
  width: 30%;
  max-width: 175px;
}

.video > .thumb > img {
  width: 100%;
}

.video > .thumb > .length {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0 5px;
  font-size: 0.8rem;
  background: rgba(0,0,0,0.8);
}

.video > .title {
  float: left;
  max-width: 60%;
  padding-left: 20px;
  text-align: left;
}

.video > .title:hover,
.video > .thumb:hover {
  cursor: pointer;
}

.video > .remove {
  float: right;
  font-size: 1.5rem;
}

.video > .remove:hover i {
  transform: scale(1.1);
  cursor: pointer;
  color: #ffaa00;
}

.video > .add-to-playlist {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.video > .add-to-playlist:hover {
  transform: scale(1.1);
  color: #ffaa00;
}

footer {
  margin: 0 20px 20px 20px;
  padding: 20px 0;
  text-align: center;
  color: #ebebeb;
  font-size: 1.1rem;
  background: #111;
  border-radius: 5px;
}

footer.transparent {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    background: rgba(20,20,20, 0.5);
}

footer > .firefox {
  width: 30px;
  vertical-align: middle;
}


/**
Queries
 */

@media screen and (max-width: 1000px) {
  .player,
  .chat,
  .playlist,
  .history {
    width: 100%;
    margin-left: 0;
  }

  .search {
    //position: static;
    float: right !important;
    width: 60% !important;
    margin-right: 20px;
  }

  #player {
    height: 400px;
  }

  .chat {
    height: 400px;
  }

  .chat > .messages {
    height: calc(400px - 100px - 72px);
  }

  .history {
    margin-top: 20px;
  }
}

@media screen and (max-width: 650px) {
  .search {
    width: 100% !important;
    margin-right: 0 !important;
  }
}
