* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body {
  background-color: #19171c;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.disclaimer {
  width: 600px;
  padding: 20px;
  font-size: 1rem;
  font-style: italic;
  color: rebeccapurple;
}

button {
  cursor: pointer;
}

.button {
  padding: 20px;
  border-radius: 3px;
  border: none;
  color: #fff;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 80px;
  background: #111;
}

body > .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 999;
    top: 20px;
    left: 20px;
}

header > .logo {
    height: 80px;
    padding: 5px 15px;
}

header > .logo-notext {
  display: none;
}

header > .search {
  display: flex;
  padding: 10px;
  width: calc(100% - 300px);
  justify-content: center;
}

header > .search > .yt-link {
  display: block;
  width: 400px;
  min-width: 150px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #333;
  outline: 0;
  margin-left: -400px; /* So we move the entire search bar to the center */
}

header > .search > .yt-link.error {
  color: red;
  font-weight: bold;
}

header > .search > .video-search,
header > .search > .play,
header > .search > .add-playlist {
  display: block;
  padding: 0 30px;
  border: none;
  font-size: 1.625rem;
  color: #ebebeb;
  border-radius: 5px;
  margin-left: 10px;
}


header > .search > .video-search {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
}

header > .search > .play {
  background-image: linear-gradient( to top, rgb(30, 39, 107) 21.8%, rgb(77, 118, 221) 100.2% );
}

header > .search > .add-playlist {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  
}

.hero .inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .videosync-logo {
  width: 400px;
}

.hero button {
	position: relative;

    width: 150px;
	height: 75px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: .3em;
    border: 0;
    margin-top: 50px;
    box-shadow: 4px 30px 50px 10px rgba(0,0,0,0.48);
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
	transition: transform 0.3s, box-shadow 0.3s;
}

.hero button:hover {
    transform: translateY(-5px);
    box-shadow: 4px 50px 60px 10px rgba(0,0,0,0.38);
}

.hero button::-moz-focus-inner {
   border: 0;
}

.hero .button:active {
    outline: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

/*==============================
        Simple bar 
==============================*/
.simplebar-scrollbar {
    width: 9px;
}

.simplebar-scrollbar:before {
    box-shadow: 0 0 2px #fff;
}

.simple-bar-scrollbar.simplebar-visible::before {
    opacity: 0.7
}

/*==============================
         Custom slider 
==============================*/
.slider-control {
    cursor: pointer;
    padding: 0 10px;
}

.slider-control .inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-control .bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    background: rgba(255,255,255,0.2);
    z-index: 1;
}

.slider-control .fill {
    position: absolute;
    top: 50%;
    width: 40%;
    height: 3px;
    background: #fff;
    transform: translateY(-50%);
}

.slider-control .handle {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 999;
    left: 40%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 4px;
    background: #fff;
}

.slider-control.red .fill,
.slider-control.red .handle {
    background: #f00;
}

.slider-control.orange .fill,
.slider-control.orange .handle {
    background: orange;
}


/*==============================
        Fullscreen Modal 
==============================*/
@keyframes open-fullscreen-modal {
    0% {
        opacity: 0;
        -webkit-transform: scale(.85);
        transform: scale(.85);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes close-fullscreen-modal {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body.fullscreen-modal-open {
    overflow: hidden;
}

body.fullscreen-modal-open .fullscreen-modal {
    animation: open-fullscreen-modal ease 300ms;
}

body.fullscreen-modal-close .fullscreen-modal {
    animation: close-fullscreen-modal ease 500ms;
}

.fullscreen-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 20px 20px 20px;
    z-index: 9999;
    background: #19171c;
}

.fullscreen-modal .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fullscreen-modal .content .cell {
    width: calc(100% / 5 - 2rem);
    margin: 1rem;
}

.fullscreen-modal .content .cell img {
    max-width: 100%;
}

.fullscreen-modal .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}

.fullscreen-modal .close-modal svg {
    display: block;
    width: 50px;
    height: 50px;
    transition: transform 300ms;
    cursor: pointer;
}

.fullscreen-modal .close-modal svg:hover {
    transform: rotate(180deg);
}

.fullscreen-modal .close-modal svg .close-x {
    stroke: white;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 2;
}

/*==========================================
   Video seach results for Fullscreen Modal 
===========================================*/
@keyframes fadeIn {
    0%   { opacity: 0; } 
    100% { opacity: 1; }
}

@keyframes grow {
    0%   { transform: scale(0.7); }
    100% { transform: scale(1.0); }
}

.video-search-result {
    opacity: 0;
    color: #fff; 
    min-height: 350px;
    transition: transform 300ms;
    animation: fadeIn ease 600ms forwards, grow ease 600ms; 
}

.video-search-result:hover {
    /*transform: scale(1.08);*/
}

.video-search-result .header {
    position: relative;
    height: 243px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.video-search-result:hover .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.video-search-result .actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.video-search-result:hover .actions {
    display: block;
}

.video-search-result .actions .play,
.video-search-result .actions .add-to-playlist {
    background: none;
    border: none;
    text-shadow: 0 0 4px #000;   

}

.video-search-result .actions .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
}

.video-search-result .actions .add-to-playlist {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 2rem;
}

.video-search-result .body {
    overflow: hidden;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0f0e11;
}

.video-search-result .uploader {
    color: #aaa;
    margin-top: 10px;
    padding: 5px;
    background: #2b2b2b;
    border-radius: 5px;
    display: inline-block;
}

/*==============================
        Eclipse Loading 
==============================*/
@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lds-eclipse {
  position: relative;
}

.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
  animation: lds-eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 orange;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}

.lds-eclipse {
  margin: 0 auto;
  width: 160px !important;
  height: 160px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.user-notifications {
    display: none;
    opacity: 0;
    position: absolute;
    top: 40px;
    right: 40px;
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
    z-index: 9999;
    color: #fff;
    text-shadow: 0 0 4px #000;
    text-align: center;
    line-height: 35px;
}

.user-notifications.active {
    display: block;
    opacity: 1;
    transition: opacity 400ms;
}

.user-notifications .icon {
    text-align: center;
    font-size: 3.5rem;
    animation: 400ms noti cubic-bezier(.79,.14,.15,.86);
}

.user-notifications .username {
    font-size: 1.2rem;
}

@keyframes noti {
    0% {
        transform: scale(1);
        text-shadow: 0 0 4px  #000;
    }

    100% {
        transform: scale(1.2);
        text-shadow: 0 10px 20px  #000;
    }
}
/*==============================
            Player 
==============================*/
.player {
  position: relative;
  width: 70%;
  min-width: 700px;
  height: 720px;
}

.player:hover .video-controls:not(.fullscreen) {
    opacity: 1;
    transition: opacity 300ms;
}

#player {
  position: relative;
  width: 100%;
  height: 100%;
  /*border: 1px solid #444;*/
  background-color: #000;
}

.player .syncing-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 1);
    opacity: 0;
    z-index: 0;
    transition: opacity 750ms;
}

.player .syncing-overlay.active {
    opacity: 1;
    z-index: 999;
}

.player .syncing-overlay .lds-eclipse {
    display: none;
}

.player .syncing-overlay.active .lds-eclipse {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player .syncing-overlay .label {
    display: none;
}

.player .syncing-overlay.active .label {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    font-size: 1.4rem;
}

.player .welcome-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 999;
}

.player .welcome-overlay.active {
    display: block;
}

.player .welcome-overlay .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-size: 3.0rem;
    text-align: center;
    text-shadow: 0 0 80px #fff, 0 0 4px #000;
}

.player .welcome-overlay .center div {
    font-family: inherit;
}

@keyframes notice {
    0% {
        transform: translate(-50%, -50%) translateY(0) scale(1.0);
    }

    100% {
        transform: translate(-50%, -50%) translateY(-10px) scale(1.1);
    }
}

.player .welcome-overlay .center::after {
    content: "\f35b";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-family: "Font Awesome 5 Free";
    animation: notice 1s infinite linear alternate;
}

.loader {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.3);
  text-align: center;
}

.loader > .svg {
  width: 200px;
}

.loader > .label {
  padding: 10px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

/*==============================
        Video controls 
==============================*/
.video-controls {
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.85);
  position: absolute;
  bottom: 0;
  color: #fff;
  z-index: 69;
  opacity: 0;
  transition: opacity 300ms;
  transition-delay: 700ms;
}

.video-controls.fullscreen {
    visibility: visible;
}

.video-controls.fullscreen:hover {
    opacity: 1;
    transition: opacity 300ms;
}

.video-controls button {
  height: inherit;
  padding: 0;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  background: none;
  border: none;
  color: #fff;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.video-controls .progress {
    position: absolute;
    top: -15px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 30px;
}

.video-controls .lower {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    height: 70px;
}

.video-controls .lower .left,
.video-controls .lower .right {
    display: flex;
    align-items: center;
}

.video-controls .left .play {
  width: 50px;
  height: 100%;
}

.video-controls .left .play button {
  width: 100%;
  font-size: 1.6rem;
}

.video-controls .left .volume {
  width: 120px;
  height: 100%;
}

.video-controls .left .time {
  width: 140px;
  font-size: 0.9rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 4px;
}

/*==============================
            Chat 
==============================*/
.chat {
  margin-left: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: calc(30% - 20px);
  height: 720px;
  overflow: hidden;
  background: #0f0e11;
  box-shadow: 0 0 4px #000;
}

.chat .header {
  position: relative;
  padding: 20px 0;
  text-align: center;
  color: #ebebeb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.625rem;
  overflow: hidden;
  background: linear-gradient(to bottom, #242424 0%,#000000 100%);
}

.chat .header img {
    height: 160px;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1);
    animation: 5s sbx_pulse cubic-bezier(.86,0,.07,1) infinite alternate
}

.chat .header .title,
.chat .header i {
    position: relative;
    z-index: 1;
}

.chat .header .title {
    padding: 10px;
    background: rgba(0,0,0,0.56);
    border-radius: 10px;
}


.chat .header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 1;
}

.chat .messages-scroll-wrapper {
    width: 100%;
    height: calc(720px - 100px - 72px);
}


.chat .messages {
  border-top: none;
  font-family: arial;
  overflow: hidden;
}

.chat  .messages  .message {
  padding: 10px;
  color: #ccc;
  min-height: 50px;
  max-width: 100%;
  word-wrap: break-word;
  line-height: 40px;
}

.chat  .messages  .message.Server {
    color: #FCA311;
    background: #14213D !important;
    font-weight: bold;
}

.chat .messages .message .timestamp {
    color: #888;
    font-weight: normal;
}

.chat .messages .message .author {
    padding: 0 5px 0 0;
    font-weight: 600;
}

.chat  .messages  .message.Server  .author::before {
    content: "\f544  ";
    font-family: "Font Awesome 5 Free";
    font-size: 1.6rem;
}

.chat .messages .message .colon {
    color: #fff;
    font-weight: normal;
}

.chat  .messages  .message img {
    height: auto;
    margin: 0 5px;
    vertical-align: middle;
}

.chat  .messages  .message:nth-child(even) {
  background: #1b1521; /*#1f1925*;*/
}

.chat .chat-box {
  height: 100px;
  position: relative;
  border-top: 1px solid rgba(255,255,255,0.2);
}

.chat  .chat-box  .show-emotes {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.4;
  color: #fff;
}

.chat  .chat-box  .show-emotes:hover {
  transform: scale(0.9);
}

.chat .chat-box .emotes-scroll-wrapper {
  position: absolute;
  height: 365px;
  top: -365px;
  left: 0;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 999;
  display: none;
}

.chat .chat-box .emotes-scroll-wrapper .simplebar-mask {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat  .chat-box  .emotes {
    background: #0f0e11;
    padding: 20px;
    overflow: hidden;
}

.chat  .chat-box  .emotes img {
    margin: 0 5px;
    width: 40px;
    transition: all 300ms;
}

.chat  .chat-box  .emotes img:hover {
  cursor: pointer;
  transform: scale(1.5);
}


.chat  .chat-box .content {
  width: 100%;
  height: 100px;
  border: none;
  padding: 10px;
  padding-right: 30px;
  font-size: 1.2rem;
  background: #0f0e11;
  color: #fff;
  resize: none;
}

/*==============================
        Online Users 
==============================*/
.online-users {
	display: flex;
  padding: 20px;
  padding-bottom: 0;
  width: 100%;
  min-height: 50px;
  overflow: hidden;
  justify-content: right;
}

.online-users > .user {
  display: flex;
  padding: 10px;
  line-height: 20px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0 2px 10px black;
}

.online-users > .user:last-child {
	margin: 0;
}

.online-users > .user > .avatar {
  width: 20px;
  height: 20px;
}

.online-users > .user > .name {
  margin-left: 5px;
  color: #eee;
}

/*==============================
      Playlist and History 
==============================*/
.container.additional-features {
  padding-top: 0;
}

.playlist {
  float: left;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 4px #000;
  overflow: hidden;
}

.playlist .playlist-scroll-wrapper {
    width: 100%;
    height: 400px;
    background: #0f0e11;
}

.playlist > .header,
.history > .header {
  background: linear-gradient(to bottom, #242424 0%,#000000 100%);
  padding: 20px 0;
  text-align: center;
  font-size: 1.625rem;
  color: #ebebeb;
}

.playlist .body,
.history .body {
  background: #0f0e11;
  overflow: hidden;
}

.history {
  float: left;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 0 4px #000;
  overflow: hidden;
  width: calc(50% - 20px);
}

.history .history-scroll-wrapper {
    width: 100%;
    height: 400px;
    background: #0f0e11;
}

.video {
  padding: 10px 20px;
  width: 100%;
  height: 160px;
  color: #ebebeb;
  font-size: 1.2rem;
  transition: background 300ms;
}

.video:hover {
    background: #1b1521;
}

.video > .thumb {
  position: relative;
  float: left;
  width: 30%;
  max-width: 175px;
}

.video > .thumb > img {
  width: 100%;
  height:100%;
}

.video > .thumb > .length {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0 5px;
  font-size: 0.8rem;
  background: rgba(0,0,0,0.8);
}

.video > .title {
  float: left;
  max-width: 60%;
  padding-left: 20px;
  text-align: left;
}

.video > .title:hover,
.video > .thumb:hover {
  cursor: pointer;
}

.video > .remove {
  float: right;
  font-size: 1.5rem;
}

.video > .remove:hover i {
  transform: scale(1.1);
  cursor: pointer;
  color: #ffaa00;
}

.video > .add-to-playlist {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.video > .add-to-playlist:hover {
  transform: scale(1.1);
  color: #ffaa00;
}

/*==============================
            Footer 
==============================*/
footer {
  margin: 0 20px 20px 20px;
  padding: 20px 0;
  border-radius: 5px;
  text-align: center;
  color: #ebebeb;
  font-size: 1.1rem;
  background: #0f0e11;
  box-shadow: 0 0 4px #000;
}

footer.transparent {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    background: rgba(20,20,20, 0.5);
}

footer > .firefox {
  width: 30px;
  vertical-align: middle;
}


/*==============================
        Media Queries 
==============================*/

@media screen and (max-width: 1500px) {
  header > .search {
    justify-content: right;
  }
}

@media screen and (max-width: 1300px) {
  .player,
  .chat,
  .playlist,
  .history {
    width: 100%;
    margin-left: 0;
  }

  .player {
    height: 650px;
    margin-bottom: 20px;
  }

  .player .welcome-overlay .center {
    font-size: 2.4rem;
  }

  .player .welcome-overlay .center::after {
    font-size: 4rem;
  }

  .chat {
    height: 400px;
  }


  .chat .messages-scroll-wrapper {
      width: 100%;
      height: calc(400px - 100px - 72px);
  }

  .history {
    margin-top: 20px;
  }
}


@media screen and (max-width: 1100px) {
  header > .logo {
    display: none;
  }

  header > .logo-notext {
    display: block;
    height: 80px;
    padding: 5px 15px;
  }
  
  header > .search {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 1000px) {
  .player {
    height: 500px;
  }
}

@media screen and (max-width: 800px) {
  header > .search > .yt-link {
    width: 350px;
    margin-left: 0;
  }

  header > .search > .video-search,
  header > .search > .play,
  header > .search > .add-playlist {
    padding: 0 20px;
  }

  .player {
    height: 450px;

    min-width: 0;
  }
}

@media screen and (max-width: 675px) {
  header > .logo-notext {
    display: none;
  }
  header > .search {
    width: 100%;
    justify-content: center;
  }


  .player .welcome-overlay .center {
    font-size: 1.2rem;
  }

  .player .welcome-overlay .center::after {
    font-size: 3rem;
  }

  .player {
    height: 300px;
  }
}

